<div style="padding: 10px">
  <button mat-raised-button color="primary" [routerLink]="['/sign-in-rf']">
    Go to Sign in with Reactive Form
  </button>
  <button
    mat-raised-button
    color="orange"
    [routerLink]="['/sign-in']"
    style="margin-left: 20px"
  >
    Go to Sign in with Template Driven Form
  </button>
  <button
    mat-raised-button
    color="danger"
    [routerLink]="['/register']"
    style="margin-left: 20px"
  >
    Go to Register with Validators Async Form
  </button>
</div>

<router-outlet></router-outlet>
